@import "../../main.scss";

.companies {
  background: $bg-main-dark;
  color: $white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: $section-padding;
  padding-bottom: $section-padding;
  gap: 20px;
  position: relative;
  &::after {
    content: "PARTNERS";
    @include before-txt;
  }
  div {
    z-index: 1;
    justify-self: center;
    align-self: center;
    h2 {
      font-size: $header-2-size;
      margin-bottom: 20px;
    }
  }
  .comp-img-side {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 75%;
    img {
      background-color: $bg-dark;
      padding: 25px;
      border-radius: 100%;
      width: 100%;
      &:nth-child(even) {
        padding: 40px 5px;
      }
    }
  }
}

@media screen and (max-width: $tab) {
  .companies {
    grid-template-columns: 1fr;
  }
}
