@import "../../main.scss";

.main-cards {
  //   background: radial-gradient(180deg, #080f1f, rgba(13, 25, 27, 0.671));
  background: linear-gradient(to top, #060911, #0d1425 70%, #0a1630);
}

.card-divs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  place-content: center;
  place-items: center;
  padding: $section-padding 0px;
  z-index: -1;
  .card {
    max-width: 260px;
    max-height: 490px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-image: linear-gradient(to bottom, $bg-dark, #131823);
    color: $white;
    padding: 40px 20px;
    border-radius: 20px;
    p {
      font-size: $paragraph-bold-2-size;
    }
    h3 {
      font-size: $header-4-size;
    }
    .btn {
      max-width: 70%;
    }
    img {
      min-height: 190px;
      transform: scale(0.8);
      margin-right: -46px;
      margin-bottom: -62px;
      margin-top: -30px;
      border-bottom-right-radius: 20px;
      z-index: 0;
    }
  }
}

@media screen and (max-width: $tab) {
  .card-divs {
    grid-template-columns: 1fr;
  }
}
