@import "../../main.scss";

// Nav main mixin

@mixin nav {
  display: grid;
  grid-template-columns: 1fr 6fr 2fr;
  align-items: center;
  justify-items: center;
  background-image: linear-gradient(
    267.43deg,
    rgba(0, 255, 163, 0.12) 36.58%,
    rgba(31, 26, 255, 0.2) 80.91%
  );
  backdrop-filter: blur(7px);
  box-shadow: 0px 4px 40px rgba(0, 0, 0, 0.05);
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: $paragraph-family-2;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 10;
}

.navbar {
  @include nav;
  img {
    justify-self: flex-start;
    outline: 2px rgb(44, 41, 206) solid;
    padding: 10px 13px;
    border-radius: 100%;
  }
  .nav-list {
    display: flex;
    list-style: none;
    li {
      padding: $base-vertical-padding;
      color: $white;
      font-size: $paragraph-bold-2-size;
    }
  }
  div {
    justify-self: flex-end;
    .btn-glass {
      @include glass;
      padding: 0px 10px;
      margin: $base-vertical-margin;
    }
  }
}

@media screen and (max-width: $tab) {
  .navbar-mobile {
    @include nav;
    grid-template-columns: 1fr 1fr;
    isolation: isolate !important;
    backdrop-filter: blur(4px);
    img {
      justify-self: flex-start;
    }
    .hamburger {
      justify-self: flex-end;
    }
    .mobile-nav-wrapper {
      background-image: linear-gradient(
        267.43deg,
        rgb(0, 19, 12) 36.58%,
        rgb(2, 1, 27) 80.91%
      );
      backdrop-filter: inherit;
      position: absolute;
      top: 0;
      padding-top: 60px;
      text-align: center;
      width: 100%;
      z-index: -1;
    }
    .mobile-nav-list {
      list-style: none;
      animation: fade-in 2s;
      li {
        color: $white;
        padding: 5px 0px;
      }
    }
  }
}
