// Imports
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap");

// Font size declarations

// Details for header 1
$header-1-size: 56px;
$header-1-weight: 800;
$header-1-font-family: "Inter", sans-serif;

// Details for header 2
$header-2-size: 48px;
$header-2-weigtht: $header-1-weight;
$header-2-font-family: $header-1-font-family;

// Details for header 3
$header-3-size: 42px;
$header-3-weigtht: 700;
$header-3-font-family: $header-1-font-family;

// Details for header 4
$header-4-size: 32px;
$header-4-weigtht: 700;
$header-4-font-family: $header-1-font-family;

// Details for header 5
$header-4-size: 18px;
$header-4-weigtht: 800;
$header-4-font-family: "Poppins", sans-serif;

// Details for paragraph-bold 1
$paragraph-bold-size: 16px;
$paragraph-bold-weight: 700;
$paragraph-bold-family: $header-4-font-family;

// Details for paragraph-bold 2
$paragraph-bold-2-size: 14px;
$paragraph-bold-2-weight: 600;
$paragraph-bold-2-family: $header-4-font-family;

// Details for paragraph-text 1
$paragraph-text-size: 16px;
$paragraph-text-weight: 400;
$paragraph-family: $header-4-font-family;

// Details for paragraph-text 2
$paragraph-text-2-size: 12px;
$paragraph-text-2-weight: 400;
$paragraph-family-2: $header-4-font-family;

// Color variables
$white: #fff;
$faded-white: rgba(167, 164, 164, 0.849);
$bg-dark: #151822;
$bg-btn-green: #1d9a6d;
$bg-btn-blue: #5653ff;
$bg-btn-dark-blue: rgba(98, 127, 227, 0.7);
$bg-btn-dark: rgba(98, 127, 227, 0.15);
$bg-input: rgba(255, 255, 255, 0.1);
$bg-main-dark: #060911;
$bg-txt-color: #b4b3b338;
$transparent: rgba(255, 255, 255, 0.05);

// Padding variables
$container-paddign-left: 10%;
$container-paddign-right: 10%;
$base-vertical-padding: 0px 15px;
$section-padding: 100px;

// Margin variables
$base-vertical-margin: 0px 15px;

// Break points variables
$lap-lg: 1440px;
$lap: 1024px;
$tab: 768px;
$mob-lg: 425px;
$mob-md: 375px;
$mob-sm: 320px;

// Global Styles
* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: $header-1-font-family;
  scroll-behavior: smooth;
  // &::after {
  //   box-sizing: border-box;
  // }
  // &::before {
  //   box-sizing: border-box;
  // }
  a {
    color: inherit;
    text-decoration: none;
  }
}

.App {
  overflow-x: hidden;
}

.container {
  padding-left: $container-paddign-left !important;
  padding-right: $container-paddign-right !important;
}

.btn {
  padding: 10px 20px;
  color: $white;
  border-radius: 10px;
  box-shadow: 0px 8px 16px rgba(75, 72, 241, 0.19);
  align-self: flex-start;
  transition: all cubic-bezier(0.165, 0.84, 0.44, 1) 0.5s;
  &:hover {
    transform: scale(1.1);
  }
}

.bg-green {
  background-color: $bg-btn-green;
}

.bg-dark {
  background-color: $bg-btn-dark;
}

.bg-blue {
  background-color: $bg-btn-blue;
}

// Utility clases

.grid-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

// transparent bg glass mixin

@mixin glass {
  background: rgba(255, 255, 255, 0.027);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px #f4f4f449 solid;
  border-radius: 10px;
  transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 1s;
  // &:hover {
  //   transform: scale(1.03);
  // }
}

@mixin before-txt {
  color: $bg-txt-color;
  position: absolute;
  top: 60px;
  font-size: $header-1-size * 2.5;
  z-index: 0;
  font-weight: $paragraph-bold-2-weight;
  @media screen and (max-width: $tab) {
    font-size: $header-1-size * 1.5;
  }
}

// Animations

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideaway {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(900px);
  }
}

// Media Query

@media screen and (max-width: $tab) {
  p {
    font-size: $paragraph-bold-2-size;
  }
  .grid-2,
  .grid-3 {
    grid-template-columns: 1fr;
  }
}
